/*CSS del comportamiento responsive de la página*/
/*A partir de 768*/
@media screen and (min-width: 768px) {
    .title__img2 {
        display: block;
    }

    .title__img1 {
        display: none;
    }

    .main__title {
        text-align: left;
        width: 350px;
    }

    .footer {
        flex-direction: row;
        align-items: flex-start;
    }

    .footerDiv {
        margin: 0 20px;
    }

    .nav__link {
        margin: 20px;
    }

    .footer__list {
        text-align: left;
        padding: 0 0 0 25px;
        align-items: flex-start;
    }

    .newsCard {
        max-width: 300px;
    }
}

/*A partir de 1280*/
@media screen and (min-width: 1280px) {
    .header {
        padding: 5px 50px;
        display: flex;
        justify-content: space-evenly;
    }

    .header__search {
        margin: 0 0 0 auto;
        justify-content: space-evenly;
        align-items: center;
        order: 3;
        width: 75%;
        padding: 40px 0;
    }

    .searchInput {
        height: 80px;
    }

    .search__button {
        height: 36px;
    }

    .nav {
        margin: 0 50px;
        width: 100%;

    }

    .nav__list {
        height: 100%;
        align-items: center;
        justify-content: space-evenly;
    }

    .main {
        padding: 15px 50px;
    }

    .main__title {
        max-width: 325px;
    }

    .footer__title {
        text-align: left;
        padding: 10px;
    }

    .footer__list {
        padding-left: 30px;
    }

    .news {
        display: block;
    }

    .newsCard {
        max-width: none;
        grid-template-columns: auto;
        grid-template-areas:
            "cardImg cardBody";
    }

    .newsCard__body {
        width: 90%;
        margin-left: 20px;
    }

    .newsCard__img {
        max-height: 180px;
        max-width: 270px;
        display: flex;
        justify-self: start;
        align-self: center;
    }

    .newsCard__abstract {
        display: block;
    }

    .newsCard__footer {
        display: flex;
        justify-content: end;
    }

    .newsCard__footer * {
        margin: 0 10px;
        text-align: right;
    }

    .newsCard__date {
        padding-left: 10px;
        border-left: .5px solid var(--color-text-primary);
    }
}