/* CSS COMÚN: EN ÉL ESTÁN LOS RECURSOS COMUNES PARA TODO EL PROYECTO*/


/* Le doy un fondo y un formato general a la página: */

:root {
    --color-primary: rgba(186, 220, 186, 0.487);
    --color-secondary: rgba(34, 95, 34, 0.611);
    --color-tertiary: #161616;
    --color-graphic: rgba(171, 171, 171, 0.802);
    --color-fav: rgb(226, 176, 23);
    --font-titles: Verdana;
    --font-primary: Roboto;
}

body {
    background-color: #161616;
    min-width: 350px;
    max-width: 1600px;
    text-align: center;
    margin: 0 auto;
    color: whitesmoke;
    font-family: var(--font-primary), Verdana, Geneva, Tahoma, sans-serif;
}


/* Formato para los enlaces */
ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: whitesmoke;
}


/* Cargo las fuentes que voy a utilizar */

@font-face {
    font-family: Roboto;
    src: url(../assets/fuentes/Roboto-Regular.ttf);
}

@font-face {
    font-family: Bebas;
    src: url(../assets/fuentes/BebasNeue-Regular.ttf);
}


.cards {
    display: flex;
    justify-content: space-evenly;
}

.card {
    color: black;
    border-radius: 15px;
    max-width: 600px;
    width: 600px;
    padding: 5px 25px;
    transition: transform 1.2s;
}

.card:hover {
    transform: scale(1.1);
}

.card__header {
    position: relative;
    background-color: var(--color-graphic);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card__canvas {
    border: 3px solid whitesmoke;
    border: none;
    padding: 0 15px;
    max-width: 600px;
    max-height: 350px;
}

.card__buttons {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--color-secondary);
    font-weight: bold;
    margin: 0;
}

.card__button {
    width: 40px;
    padding: 10px 5px;
    cursor: pointer;
}

.card__button:hover {
    background-color: var(--color-primary);
    ;
}

.card__button--active {
    background-color: var(--color-primary);
    ;
}

.card__main {
    background-color: whitesmoke;
    padding: 15px 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.card__item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.card__title {
    margin: 0;
    padding: 15px 50px;
    justify-content: center;
    cursor: pointer;
}

.card__title:hover {
    color: var(--color-secondary);
    ;
}

.card__list {
    padding: 0 10px 10px;
    margin: 0;
}

.card__icon {
    position: absolute;
    top: 10px;
    left: 25px;
    font-size: 1.2rem;
    color: transparent;
    -webkit-text-stroke: 2px rgba(31, 27, 27, 0.697);
    cursor: pointer;
}

.card__icon:hover {
    color: var(--color-fav);
}

.card__icon--fav {
    color: var(--color-fav);
}


.item__title {
    font-weight: bold;
}

.displayNone {
    display: none;
}


.cards__message {
    font-size: 1.8rem;
    margin: 0 auto;
    color: whitesmoke;
}