/* CSS COMÚN: EN ÉL ESTÁN LOS RECURSOS COMUNES PARA TODO EL PROYECTO*/

/* Cargo las fuentes que voy a utilizar */

@font-face {
    font-family: Roboto;
    src: url(../assets/fonts/Roboto-Regular.ttf);
}

:root {
    --color-primary: rgba(187, 206, 187, 0.77);
    --color-secondary: rgba(34, 95, 34, 0.611);
    --color-tertiary: #161616;
    --color-graphic: rgba(171, 171, 171, 0.802);
    --color-fav: rgb(226, 176, 23);
    --color-text-primary: rgba(0, 0, 0, 0.748);
    --color-text-secondary: whitesmoke;
    --font-titles: Verdana;
    --font-primary: Roboto;
}

/* Le doy un fondo y un formato general a la página: */

body {
    background-color: rgb(44, 42, 42);
    min-width: 375px;
    max-width: 1600px;
    text-align: center;
    margin: 0 auto;
    color: var(--color-text-secondary);
    font-family: var(--font-primary), Verdana, Geneva, Tahoma, sans-serif;
}


/* Formato para los enlaces */
ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--color-text-secondary);
}


.container {
    display: grid;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "main"
        "footer"
    ;
}

.main {
    background-color: var(--color-primary);
    grid-area: main;
    padding: 5px 10px;
    text-align: left;
    min-height: 60vh;
    margin: 0;

}

.main__title {
    border-bottom: 4px solid var(--color-secondary);
    font-size: 1.8rem;
    font-variant: small-caps;
    padding: 5px 10px;
    color: var(--color-text-primary);
    margin: 15px 0 40px;
    text-align: center;
}

.displayNone {
    display: none;
}

.displayBlock {
    display: block;
}

.spinner {
    background: rgba(70, 70, 70, 0.7);
    position: fixed;
    z-index: 10;
    min-width: 10vw;
    min-height: 10vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 30px;
}